<div ng-if="$isLogged"  class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#" class="logo" ng-click="$reset()"><img src="../assets/img/logo.png"></a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

</div>
<!--<div ng-if="!$isLogged"  class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">-->
<div ng-if="!$isLogged"  class="page-top clearfix">
    <a href="#" class="logo" ng-click="reset()"><img src="../assets/img/logo.png"></a>
    <div ng-show="!isLoading"><span ng-if="$totalLength != '' && $totalLength != null ">{{$totalLength}} results</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#" ng-if="bSetFilters == true" ng-click="clearFilter()">clear filters</a></div>
    <div ng-show="isLoading">
        <div class="loading-dots">
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
        </div>
    </div>
    <!--<a href="/#/login" class="signin"><i class="fa fa-power-off"></i>Sign In</a>-->
</div>