@import 'common';

// injector
// endinjector
.noUi-horizontal {
  height: 7px !important;
}
.noUi-handle {
  background: url(../assets/img/scroll_bar.png) no-repeat !important;
}
.noUi-horizontal .noUi-handle {
    width: 22px !important;
    height: 18px !important;
    top: -8px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); */
  left: -10px !important;
}
.noUi-target {
  border: none !important;
}
.noUi-handle:before, .noUi-handle:after {
  content:none !important;
}
.slider {
  height: 20px;
}
.year-to, .mileage-to, .price-to {
  float: right;
}
.page-top {
  .signin {
    margin:25px 0;
    float:right;
  }
  .logo {
    display: inline-block;

    img {
      width: 50%;
      margin: 20px 0px;
    }
  }
}
.detail-page {
  .back_link { float:left;}
  .next_link { float:right;}
  .detail_link {text-decoration: underline !important; color:blue;}
  .small_info label{font-size: 10px !important; color: gray;}
  .left {float:left;}
  .detail_title_content {
    margin: 0 auto !important;
    float: none;

    .detail_title {
      text-align:center;
      margin-top: 15px;
      color: grey;
    }
    .detail_pcfid {
      text-align:center;
      margin-bottom: 15px;
      font-size:20px;
    }
  }
  .p-with-code {
    white-space:pre-wrap;
  }

  .form-group {
    margin-bottom: 0px;

    label {
      font-size: 14px;
    }
  }
}
.search-results .sortable {
  background-color:#d9d9d9;
}

.noUi-connect {
  background-color: #636363 !important;
}

.al-sidebar {
  .mini-menu {
    width: 50px !important;
    background-color: black;
    height: 100%;
    float: left;
    font-size: 20px;
    color: white;
    position: fixed;

    .filter {
      transform: rotate(-90deg);
      margin-top: 100px;
    }

    .filter-symbol {
      width: 20px;
      margin: 20px auto;
    }

    & + * {
      margin-left: 50px;
      padding-bottom: 100px;
    }
  }
  .form-group {

    margin-bottom: 0px;
    .ui-select-container {
      margin-bottom: 15px;
    }
    .noUi-background {
      background-color: #ddd !important;
    }
  }
}
.history-items {
  list-style-type:none;
  /*margin:20px 0px;*/
}
.colums-content {
  .bg-info {
    background-color:black;
  }
  .btn-info {
    background-color:red !important;
    border: none !important;
  }
  .checkbox {
    text-align: left;
  }
}
.setting_btn {
  background: none;
  border: none;
  .ion-gear-a {
    /*font-size: 20px;*/
  }
}
.highlight {
  background-color: #b3c4c7 !important;
}
.grid {
  text-align: center;
  line-height: 25px;
}
.prev-btn {
  float:right;
  background-color: black !important;
  border: none;
}
.next-btn {
  float:left;
  background-color: black !important;
  border: none;
}
.setting_btn {
  font-size: 20px;
  height: 35px;
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell {
  background-color: beige;
}
.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: beige;
}
.setting {
  text-align: right;
  img {
    width:20px;
    height: 20px;
  }
}
.modal-dialog {
  h3 {
    text-align: left;
  }
}
.ui-grid-menu, .ui-grid-icon-angle-down {
  display: none !important;
}
.contact_container {
  position: fixed;
  right: 0px;
  bottom: 10px;
  margin-right: 20px;
  width: 200px;
  .contact_title {
    background:black;
    position: relative;
    line-height: 40px;
    color: white;

    span {
      background: black;
      margin-left: 20px;
    }
    .contact_close {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40px;
      height: 40px;
    }

  }
  .contact_content {
    padding: 20px;
    background-color: beige;
  }
}
.listing_container, .pcf_container, .bsf_container, .inactive_container, .active_container {
  padding: 0px 4px 4px 4px;
  .title {
    height:40px;
    background-color:black;
    span {
      line-height: 40px;
      color: white;
      text-align: center;
      width: 100%;
      display: block;
    }
    .arrow_title {
      float:left;
      width:90%;
    }
    .arrow {
      float: left;
      line-height: 40px;
      color: white;
      width: 10%;
    }
  }
  .content {
    padding:20px;
  }
}
