@import 'common';

#loaderImage {
  position: fixed;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    margin-top: -34px;
    //margin-left: -34px;
    width: 64px;
    height: 64px;
}
.closeicon {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 30px;
    color: #ccc;
    font-size: 20px;
    line-height: 50px;
    cursor:pointer;
}
.smcloseicon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 22px;
  color: #ccc;
  font-size: 20px;
  line-height: 38px;
  cursor: pointer;
}

.spcloseicon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 8px;
  color: #ccc;
  font-size: 20px;
  line-height: 38px;
  cursor: pointer;
}
.sprcloseicon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 22px;
  color: #ccc;
  font-size: 20px;
  line-height: 38px;
  cursor: pointer;
}
.btn_container {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.btn_space {
  margin: 0 10px;
}
// injector
// endinjector
.noUi-horizontal {
  height: 7px !important;
}
.noUi-handle {
  background: url(../assets/img/scroll_bar.png) no-repeat !important;
}
.noUi-horizontal .noUi-handle {
  width: 22px !important;
  height: 18px !important;
  top: -8px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); */
  left: -10px !important;
}
.noUi-target {
  border: none !important;
}
.noUi-handle:before, .noUi-handle:after {
  content:none !important;
}
.slider {
  height: 20px;
}
.year-to, .mileage-to, .price-to {
  float: right;
}
.page-top {
  .signin {
    margin:25px 0;
    float:right;
  }
  .logo {
    /*display: inline-block;*/

    img {
      width: 50%;
      margin: 20px 0px;
    }
  }
}
.detail-page {
  .back_link { float:left; cursor: pointer;}
  .next_link { float:right;cursor: pointer;}
  .detail_link {text-decoration: underline !important; color:blue;}
  .small_info label{font-size: 10px !important; color: gray;}
  .left {float:left;}
  .detail_title_content {
    margin: 0 auto !important;
    float: none;

    .detail_title {
      text-align:center;
      margin-top: 15px;
      color: grey;
    }
    .detail_pcfid {
      text-align:center;
      margin-bottom: 15px;
      font-size:20px;
    }
  }
  .p-with-code {
    white-space:pre-wrap;
  }

  .form-group {
    margin-bottom: 0px;

    label {
      font-size: 14px;
    }
  }
}
.search-results .sortable {
  background-color:#d9d9d9;
}

.noUi-connect {
  background-color: #636363 !important;
}

.history-active-items, .history-inactive-items {
  list-style-type:none;
  /*margin:20px 0px;*/
  a {
    color: blue;
  }
}
.colums-content {
  .bg-info {
    background-color:black;
  }
  .btn-info {
    background-color:red !important;
    border: none !important;
  }
  .checkbox {
    text-align: left;
  }
}
.setting_btn {
  background: none;
  border: none;
  .ion-gear-a {
    /*font-size: 20px;*/
  }
}
.highlight {
  background-color: #b3c4c7 !important;
}
.grid {
  text-align: center;
  line-height: 25px;
  height:367px;
}
.prev-btn {
  float:right;
  background-color: black !important;
  border: none;
}
.next-btn {
  float:left;
  background-color: black !important;
  border: none;
}
.setting_btn {
  font-size: 20px;
  height: 35px;
}

.ui-grid-row:nth-child(odd):hover .ui-grid-cell {
  background-color: beige;
}
.ui-grid-row:nth-child(even):hover .ui-grid-cell {
  background-color: beige;
}
.setting {
  text-align: right;
  img {
    width:20px;
    height: 20px;
  }

  > div:nth-of-type(1) {
    margin-right: 5px;
    display: inline-block;
    float: left;
  }

  > div:nth-of-type(2) {
    display: inline-block;
  }
}
.modal-dialog {
  h3 {
    text-align: left;
  }
}
.ui-grid-menu, .ui-grid-icon-angle-down {
  display: none !important;
}
.contact_container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin-right: 0px;
  width: 115px;
  .contact_title {
    background: black;
    position: relative;
    line-height: 40px;
    color: white;
    &:hover {
      cursor:pointer;
    }
    span {
      background: black;
      margin-left: 20px;
    }
    .contact_close {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40px;
      height: 40px;
    }

  }
  .contact_content {
    padding: 20px;
    background-color: beige;
  }
}
.listing_container, .pcf_container, .bsf_container, .inactive_container, .active_container {
  padding: 0px 4px 4px 4px;
  .title {
    &:hover {
      cursor:pointer;
    }
    height:40px;
    background-color:black;
    span {
      line-height: 40px;
      color: white;
      text-align: center;
      width: 100%;
      display: block;
    }
    .arrow_title {
      float:left;
      width:90%;
    }
    .arrow {
      float: left;
      line-height: 40px;
      color: white;
      width: 10%;
    }
  }
  .content {
    padding:0 20px 20px 20px;
  }
}
.inactive_container, .active_container {
  .title:hover, a:hover {
    cursor: pointer;
  }
  .title {
    .arrow_title {
      width: 80%;
    }
    .arrow {
      width: 20%;
    }
  }
}

.from {
  padding-left: 15px;
  float: left;
  width: 45%;
  position:relative;
}
.to {
  width: 45%;
  float: left;
  padding-right: 15px;
  position:relative;
}
.range {
  width: 10%;
  float: left;
  text-align: center;
  line-height: 30px;
}
.panel-body-description {
  overflow: hidden;
  margin-bottom: 20px;
  height: 212px;
}
.active a{
  color: black;
}
.checkbox span {
  color: #1b1d1f;
}
.al-sidebar .row {
  margin-top: 20px;
}
.al-detail-sidebar {
  width: 150px;
  bottom: 40px;
  left: 0px;
  position:fixed;
}
.active_container .content, .inactive_container .content {
  background: #fff;
}
.default_position {
  position:initial;
}
.default_padding {
  /*padding-left:150px;*/
}
.read_more {
  height:auto;
}
.read_less {
  height:212px;
}
@media screen and (max-width:480px) {
  .al-main {
    margin-left: 0px;
  }
  .al-sidebar {
    height: 40px;
    width: 115px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;

    .filter {
      color: white;
    }

    .mini-menu {
      line-height: 40px;
    }

    .form-group {
      margin-bottom: 0px;
    }

    .filter {
      float: left;
    }
    .filter-symbol {
      float: left;
      margin: 0px 15px;
      color: white;
    }

    .active_container .content, .inactive_container .content {
      max-height: 200px;
      overflow:scroll
    }
    .listing_container, .pcf_container, .bsf_container, .inactive_container, .active_container {
      padding: 0px 0 1px 0;
    }

    //.al-detail-sidebar {
    //  width: 150px;
    //  bottom: 40px;
    //  left: 0px;
    //}
  }
  .next-btn {
    position: fixed;
    right: calc(50vw - 50px);
    bottom:0;
    height: 40px;
    border: none;
    border-radius: 0;
    float: right;
  }
  .prev-btn {
    position: fixed;
    left: calc(50vw - 50px);
    bottom:0;
    height: 40px;
    border: none;
    border-radius: 0;
    float: right;
  }
}
@media screen and (min-width:480px) {
  .al-sidebar {
    /*width: $sidebar-width;*/
    top: $top-height;
    left: 0;
    z-index: 904;
    display: block;
    min-height: 100%;
    min-width: 50px;
    /*background-color: $sidebar;*/
    /*background: rgba(0, 0, 0, 0.75);*/
    height: 100%;
    position: fixed;
    overflow: auto;
    /*padding:20px;*/
    .row {
      margin-top:20px;
    }
    input.search-input {
      margin:0;
      padding:0;
    }
    .mini-menu {
      width: 50px !important;
      background-color: black;
      height: 100%;
      float: left;
      font-size: 20px;
      color: white;
      position: fixed;
      &:hover {
        cursor: pointer;
      }

      .filter {
        transform: rotate(-90deg);
        margin-top: 100px;
      }

      .filter-symbol {
        width: 20px;
        margin: 20px auto;
      }

      & + * {
        margin-left: 50px;
        padding-bottom: 100px;
      }
    }
    .form-group {

      margin-bottom: 0px;
      //.ui-select-container {
      //  margin-bottom: 15px;
      //}
      .noUi-background {
        background-color: #ddd !important;
      }
    }
    .al-detail-sidebar {
      width: 150px;
      bottom: 40px;
      left: 0px;
    }
  }
}

html,
body {
  /*overflow: auto;*/
}