<div class="body-bg"></div>
<main>
    <div  class="al-sidebar" ui-view="baSidebar"></div>
    <page-top></page-top>
    <div class="al-main">
        <div class="al-content">
            <div ui-view="content">

            </div>
        </div>
        <div class="btn_container">
            <div class="col-xs-6">
                <button class="btn btn-info prev-btn" ng-if="$prev != null && isShowPrevNext" ng-click="prevPage()">&nbsp;
                    <i ng-show="!is_mobile" class="ion-ios-skipbackward">&nbsp;</i>
                    <i ng-show="is_mobile" class="ion-chevron-left">&nbsp;</i></button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-info next-btn" ng-if="$next != null && isShowPrevNext" ng-click="nextPage()">&nbsp;
                    <i ng-show="!is_mobile" class="ion-ios-skipforward">&nbsp;</i>
                    <i ng-show="is_mobile" class="ion-chevron-right">&nbsp;</i></button>
            </div>
        </div>
    </div>
    <footer class="al-footer clearfix">
        <div class="al-footer-main clearfix">
            <div class="al-copy"></div>
        </div>
    </footer>
    <back-top></back-top>
    <contact></contact>
    <msgCenter></msgCenter>

</main>
