<div class="body-bg"></div>
<main>
    <div  class="al-sidebar" ui-view="baSidebar"></div>
    <page-top></page-top>
    <div class="al-main" ng-style="{'padding-left': main_width }">
        <div class="al-content">
            <div ui-view="content" autoscroll="true" autoscroll-body-top>

            </div>
        </div>
    </div>
    <footer class="al-footer clearfix">
        <div class="al-footer-main clearfix">
            <div class="al-copy"></div>
        </div>
    </footer>
    <back-top></back-top>
    <contact></contact>
    <msgCenter></msgCenter>
    <div class="btn_container">
        <div class="col-xs-6">
            <button class="btn btn-info prev-btn" ng-if="$prev != null && isShowPrevNext" ng-click="prevPage()">&nbsp;<&nbsp;</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-info next-btn" ng-if="$next != null && isShowPrevNext" ng-click="nextPage()">&nbsp;>&nbsp;</button>
        </div>
    </div>
</main>
