<div ba-panel ba-panel-class="detail-page">
  <div class="panel-content">
    <!--<div class="progress-info">Your profile is 70% Complete</div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div>-->

    <h3 class="with-line">{{carData.listing_title}}</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="vin" class="col-sm-3 control-label">VIN :</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin_code | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_model" class="col-sm-3 control-label">Model</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_model | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Make</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_make | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_year" class="col-sm-3 control-label">Year</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_year | highlight: keyword"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Sold Status</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_year | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_sold_date" class="col-sm-3 control-label">Sold Date</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.sold_date | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing URL</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_url | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_date" class="col-sm-3 control-label">Listing Date</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_date | highlight: keyword"></div>
          </div>
        </div>
      </div>

    </div>

    <h3 class="with-line">Detailed Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="price" class="col-sm-3 control-label">Price</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.price | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="mileage" class="col-sm-3 control-label">Mileage</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.mileage | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">City</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.city | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="state" class="col-sm-3 control-label">State</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.state | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!--<div class="form-group row clearfix">-->
          <!--<label class="col-sm-3 control-label">Listing Date</label>-->

          <!--<div class="col-sm-9">-->
            <!--<input type="text" class="form-control" id="listing_date" placeholder="" ng-model="carData.listing_date">-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group row clearfix">
          <label for="cond" class="col-sm-3 control-label">Condition</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.cond | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Seller Type</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.seller_type | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="vhr_link" class="col-sm-3 control-label">VHR Link</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vhr_link | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Exterior Color</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_exterior_color | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_interior_color" class="col-sm-3 control-label">Listing Interior Color</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_interior_color | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Transmission</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_transmission | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_transmission_detail" class="col-sm-3 control-label">Transmission Detail</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_transmission_detail | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Engine Size</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_engine_size | highlight: keyword"></div>
          </div>
        </div>
        <!--<div class="form-group row clearfix">-->
          <!--<label for="listing_transmission_detail" class="col-sm-3 control-label">Transmission Detail</label>-->

          <!--<div class="col-sm-9">-->
            <!--<input type="text" class="form-control" id="test" placeholder="" ng-model="carData.listing_transmission_detail">-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Body Type</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_body_type | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_drivetrain" class="col-sm-3 control-label">Listing Drivetrain</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.listing_drivetrain | highlight: keyword"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-12 col-lg-4">
        <div ba-panel ba-panel-class="xsmall-panel light-text" style="height:auto!important;">{{carData.listing_description}}</div>
      </div>-->

        <div class="col-md-12 col-lg-8">
          <div class="panel panel-default bootstrap-panel xsmall-panel" style="height:auto!important;">
            <div class="panel-heading">Listing Description</div>
            <div class="panel-body">
              <p class="p-with-code" ng-bind-html="carData.listing_description | highlight: keyword">
              </p>
            </div>
          </div>
        </div>
    </div>

    <h3 class="with-line">BuildSheet Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">MSRP</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.msrp | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Warranty Start</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.warranty_start | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Model Year</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.model_year | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Model Detail</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.model_detail | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Color</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.color | highlight: keyword"></div>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Production Month</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.production_month | highlight: keyword"></div>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Interior</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.vin.interior | highlight: keyword"></div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
          <div class="panel panel-default bootstrap-panel xsmall-panel" style="height:auto!important;">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
              <ul ng-repeat="item in carData.vin.options">
                <li><span ng-bind-html="item.code | highlight: keyword"></span>&nbsp;:&nbsp;<span ng-bind-html="item.value | highlight: keyword"></span></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <h3 class="with-line">PCF Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">ID</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.vid | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">VIN Model Number</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.model_number | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Widebody</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.widebody | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">PTS</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.pts | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Longhood</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.longhood | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">PCCB</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.pccb | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Color</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.color | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Body Type</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.body_type | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Air cooled</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.air_cooled | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Gap To MSRP</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.gap_to_msrp | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Age</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.listing_age | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">LWB Seats</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.lwb_seats | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Auto transmission</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.auto_trans | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Option Code</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.option_code | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Option Description</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.option_description | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">0~60</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.placeholder | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Produced USA</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.produced_usa | highlight: keyword"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Produced Globally</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.produced_globally | highlight: keyword"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Same Counts</label>

          <div class="col-sm-9">
            <div ng-bind-html="carData.pcf.same_counts | highlight: keyword"></div>
          </div>
        </div>
      </div>

    </div>
    <!--<button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>-->
  </div>
</div>
