<div class="detail-page">

    <div class="panel-content" ng-swipe-right="$prevListing()" ng-swipe-left="$nextListing()">
        <div class="row">
            <div class="col-md-12">
                <a class="back_link" ng-click="goBack()">BACK TO RESULTS</a>
                <!--<a class="next_link" ng-click='nextListing()'>NEXT LISTING</a>-->
                <div ng-show="!is_mobile">
                    <a ng-if="$next_list[$detailData.pcf.vid] || $next != null" class="next_link" ng-click='$nextListing()'>NEXT LISTING</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="from-group row clearfix detail_title_content">
                <div class="detail_title">
                    <label>PCF ID</label>
                </div>

                <div class="detail_pcfid">
                    <label ng-bind-html="$detailData.pcf.vid | highlight: filter.keyword | slice"></label>
                </div>
            </div>
        </div>
        <h3 ng-if="$detailData" class="with-line">Listing</h3>
        <div ng-if="$detailData" class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.listing_title">
                    <div class="col-sm-9">
                        <a class="detail_link" target="_blank" href={{$detailData.listing_url}}><span ng-bind-html="$detailData.listing_title | highlightWord: keywords"></span></a>
                    </div>
                </div>

                <div class="form-group row clearfix" ng-if="!$detailData.listing_title">
                    <div class="col-sm-9">
                        <a class="detail_link" target="_blank" href={{$detailData.listing_url}}><span>LINK</span></a>
                    </div>
                </div>

                <div class="form-group row clearfix"  ng-if="$detailData.vin_code">
                    <div class="col-sm-9">
                        <label ng-bind-html="$detailData.vin_code | highlightWord: keywords"></label>
                    </div>
                </div>
                <div class="form-group row clearfix">
                    <div class="col-sm-9">
                        <div class="left" ng-if="$detailData.listing_year"><label ng-bind-html="$detailData.listing_year | highlightWord: keywords"></label>&nbsp;</div>
                        <div class="left" ng-if="$detailData.listing_model"><label ng-bind-html="$detailData.listing_model | highlightWord: keywords"></label>&nbsp;</div>
                        <div class="left" ng-if="$detailData.listing_trim"><label ng-bind-html="$detailData.listing_trim | highlightWord: keywords"></label>&nbsp;</div>
                        <div class="left" ng-if="$detailData.listing_body_type"><label ng-bind-html="carData.listing_body_type | highlightWord: keywords"></label>&nbsp;</div>
                        <div class="left" ng-if="$detailData.cond">(<label ng-bind-html="$detailData.cond | highlightWord: keywords"></label>)</div>
                    </div>
                </div>

                <div class="form-group row clearfix"  ng-if="$detailData.price">
                    <div class="col-sm-9">
                        $<label ng-bind-html="$detailData.price | highlightWord: keywords"></label>
                    </div>
                </div>
                <div class="form-group row clearfix"   ng-if="$detailData.mileage">
                    <div class="col-sm-9">
                        <label ng-bind-html="$detailData.mileage | highlightWord: keywords"></label>mi
                    </div>
                </div>

                <div class="form-group row clearfix col-sm-9" ng-if="$detailData.listing_exterior_color">
                    <label>Exterior:</label>
                    <label ng-bind-html="$detailData.listing_exterior_color | highlightWord: keywords"></label>
                </div>
                <div class="form-group row clearfix col-sm-9" ng-if="$detailData.listing_interior_color">
                    <label>Interior:</label>
                    <label ng-bind-html="$detailData.listing_interior_color | highlightWord: keywords"></label>
                </div>

                <div class="form-group row clearfix">
                    <div class="col-sm-9">
                        <div class="left" ng-if="$detailData.listing_transmission"><label ng-bind-html="$detailData.listing_transmission | highlightWord: keywords"></label></div>
                        <div class="left" ng-if="$detailData.listing_engine_size && $detailData.listing_transmission">,&nbsp;<label ng-bind-html="$detailData.listing_engine_size | highlightWord: keywords"></label></div>
                        <div class="left" ng-if="$detailData.listing_engine_size && !$detailData.listing_transmission"><label ng-bind-html="$detailData.listing_engine_size | highlightWord: keywords"></label></div>
                        <div class="left" ng-if="$detailData.listing_drivetrain && !$detailData.listing_transmission && !$detailData.listing_engine_size"><label ng-bind-html="$detailData.listing_drivetrain | highlightWord: keywords"></label></div>
                        <div class="left" ng-if="$detailData.listing_drivetrain && ($detailData.listing_transmission || $detailData.listing_engine_size)">,&nbsp;<label ng-bind-html="$detailData.listing_drivetrain | highlightWord: keywords"></label></div>
                        <div class="left" ng-if="$detailData.vhr_link !='' && ($detailData.listing_transmission || $detailData.listing_engine_size || $detailData.listing_drivetrain)">,&nbsp;<a class="detail_link" target="_blank" href={{$detailData.vhr_link}}>Vehicle History Report</a></div>
                        <div class="left" ng-if="$detailData.vhr_link !='' && !$detailData.listing_transmission && !$detailData.listing_engine_size && !$detailData.listing_drivetrain"><a class="detail_link" target="_blank" href={{$detailData.vhr_link}}>Vehicle History Report</a></div>
                    </div>
                </div>

                <div class="form-group row clearfix" ng-if="$detailData.seller_type" >
                    <div class="col-sm-9">
                        <label ng-bind-html="$detailData.seller_type | highlightWord: keywords"></label>
                    </div>
                </div>

                <div class="form-group row clearfix">
                    <div class="col-sm-9">
                        <div class="left" ng-if="$detailData.city"><label ng-bind-html="$detailData.city | highlightWord: keywords"></label>,&nbsp;</div>
                        <div class="left" ng-if="$detailData.state"><label ng-if="$detailData.state" ng-bind-html="$detailData.state | highlightWord: keywords"></label></div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="" style="height:auto!important;" ng-if="$detailData.listing_description">
                    <div class="panel-body-description">
                        <p class="p-with-code" ng-bind-html="$detailData.listing_description | highlightWord: keywords"></p>
                    </div>
                    <button ng-if="$numLimit == 150" id="btn_more" type='button' ng-click="readMore()">read more</button>
                    <button ng-if="$numLimit > 150" id="btn_less" type='button' ng-click="readLess()">read less</button>
                </div>
            </div>

        </div>

        <h3 ng-if="$detailData.vin" class="with-line">Build Sheet</h3>
        <div ng-if="$detailData.vin" class="row">
            <div class="col-md-6">
                <div class="form-group row clearfix">
                    <div class="col-sm-9">
                        <div class="left" ng-if="$detailData.vin.model_year"><label ng-if="$detailData.vin.model_year" ng-bind-html="$detailData.vin.model_year | highlightWord: keywords"></label>&nbsp;</div>
                        <div class="left" ng-if="$detailData.vin.model_detail"><label ng-if="$detailData.vin.model_detail" ng-bind-html="$detailData.vin.model_detail | highlightWord: keywords"></label></div>
                    </div>
                </div>

                <div class="form-group row clearfix col-sm-9"  ng-if="$detailData.vin.msrp" >
                    <label>MSRP:</label>&nbsp;$<label ng-bind-html="$detailData.vin.msrp | highlightWord: keywords"></label>
                </div>

                <div class="form-group row clearfix col-sm-9" ng-if="$detailData.vin.color" >
                    <label>Exterior:</label>&nbsp;
                    <label ng-bind-html="$detailData.vin.color | highlightWord: keywords"></label>
                </div>

                <div class="form-group row clearfix col-sm-9" ng-if="$detailData.vin.interior">
                    <label>Interior:</label>&nbsp;
                    <label ng-bind-html="$detailData.vin.interior | highlightWord: keywords"></label>
                </div>

                <div ng-if="$detailData.vin.warranty_start" class="form-group row clearfix small_info col-sm-9">
                    <label>Warranty Start</label>&nbsp;<label ng-bind-html="$detailData.vin.warranty_start | highlightWord: keywords"></label>
                </div>

                <div ng-if="$detailData.vin.production_month" class="form-group row clearfix small_info col-sm-9">
                    <label class="control-label">Production Month</label>&nbsp;<label ng-bind-html="$detailData.vin.production_month | highlightWord: keywords"></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default bootstrap-panel xsmall-panel" style="height:auto!important;">
                    <div class="panel-heading">Options</div>
                    <div class="panel-body">
                        <ul ng-repeat="item in $detailData.vin.options">
                            <li><span ng-bind-html="item.code | highlightWord: keywords"></span>&nbsp;:&nbsp;<span ng-bind-html="item.value | highlightWord: keywords"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h3 ng-if="!pcf_is_empty" class="with-line">PCF Data</h3>
        <div ng-if="!pcf_is_empty" class="row">

            <div class="col-md-6" ng-if="$detailData.pcf.model_number">
                <div class="form-group row clearfix">
                    <div class="col-sm-9">
                        <label>Model Number:</label>&nbsp;
                        <label ng-bind-html="$detailData.pcf.model_number | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.gap_to_msrp">
                    <div class="col-sm-9">
                        <label>% of MSRP:</label>&nbsp;
                        <label ng-bind-html="$detailData.pcf.gap_to_msrp | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.pts">
                    <div class="col-sm-9">
                        <label ng-bind-html="'PTS: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.lwb_seats">
                    <div class="col-sm-9">
                        <label ng-bind-html="'LWB Seats: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.longhoood">
                    <div class="col-sm-9">
                        <label ng-bind-html="'Longhood: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.widebody">
                    <div class="col-sm-9">
                        <label ng-bind-html="'Widebody: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.pccb == 1">
                    <div class="col-sm-9">
                        <label ng-bind-html="'PCCB: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.air_cooled == 1">
                    <div class="col-sm-9">
                        <label ng-bind-html="'Air-Cooled: Yes' | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.body_type">
                    <div class="col-sm-9">
                        <label>Body Type:</label>&nbsp;
                        <label ng-bind-html="$detailData.pcf.body_type | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row clearfix" ng-if="$detailData.pcf.auto_trans">
                    <div class="col-sm-9">
                        <label>Auto Trans:</label>&nbsp;
                        <label ng-bind-html="$detailData.pcf.auto_trans | highlightWord: keywords"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
