<div ba-panel ba-panel-class="detail-page">
  <div class="panel-content">
    <!--<div class="progress-info">Your profile is 70% Complete</div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div>-->

    <h3 class="with-line">{{carData.listing_title}}</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="vin" class="col-sm-3 control-label">VIN :</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin_code" class="form-control" id="vin" placeholder="" >
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_model" class="col-sm-3 control-label">Model</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.listing_model" class="form-control" id="listing_model" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Make</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.listing_make" class="form-control" id="listing_make" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_year" class="col-sm-3 control-label">Year</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.listing_year" class="form-control" id="listing_year" placeholder="" value="">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Sold Status</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.sold_state" class="form-control" id="listing_sold_state" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_sold_date" class="col-sm-3 control-label">Sold Date</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.sold_date" class="form-control" id="listing_sold_date" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing URL</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.listing_url" class="form-control" id="listing_url" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="listing_date" class="col-sm-3 control-label">Listing Date</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.listing_date" class="form-control" id="listing_date" placeholder="" value="">
          </div>
        </div>
      </div>

    </div>

    <h3 class="with-line">Detailed Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="price" class="col-sm-3 control-label">Price</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.price" class="form-control" id="price" placeholder="" >
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="mileage" class="col-sm-3 control-label">Mileage</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="mileage" placeholder="" ng-model="carData.mileage">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">City</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="city" placeholder="" ng-model="carData.city">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="state" class="col-sm-3 control-label">State</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="state" placeholder="" ng-model="carData.state">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Date</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_date" placeholder="" ng-model="carData.listing_date">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="cond" class="col-sm-3 control-label">Condition</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="cond" placeholder="" ng-model="carData.cond">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Seller Type</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="seller_type" placeholder="" ng-model="carData.seller_type">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="vhr_link" class="col-sm-3 control-label">VHR Link</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="vhr_link" placeholder="" ng-model="carData.vhr_link">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Exterior Color</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_exterior_color" placeholder="" ng-model="carData.listing_exterior_color">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_interior_color" class="col-sm-3 control-label">Listing Interior Color</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_interior_color" placeholder="" ng-model="carData.listing_interior_color">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Transmission</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_transmission" placeholder="" ng-model="carData.listing_transmission">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_transmission_detail" class="col-sm-3 control-label">Transmission Detail</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_transmission_detail" placeholder="" ng-model="carData.listing_transmission_detail">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Engine Size</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_engine_size" placeholder="" ng-model="carData.listing_engine_size">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_transmission_detail" class="col-sm-3 control-label">Transmission Detail</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="test" placeholder="" ng-model="carData.listing_transmission_detail">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Body Type</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_body_type" placeholder="" ng-model="carData.listing_body_type">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="listing_drivetrain" class="col-sm-3 control-label">Listing Drivetrain</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="listing_drivetrain" placeholder="" ng-model="carData.listing_drivetrain">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!--<div class="col-md-12 col-lg-4">
        <div ba-panel ba-panel-class="xsmall-panel light-text" style="height:auto!important;">{{carData.listing_description}}</div>
      </div>-->

        <div class="col-md-12 col-lg-8">
          <div class="panel panel-default bootstrap-panel xsmall-panel" style="height:auto!important;">
            <div class="panel-heading">Listing Description</div>
            <div class="panel-body">
              <p class="p-with-code" style="white-space:pre;">{{carData.listing_description}}
              </p>
            </div>
          </div>
        </div>
    </div>

    <h3 class="with-line">BuildSheet Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">MSRP</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.msrp" class="form-control" id="msrp" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Warranty Start</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.warranty_start" class="form-control" id="warranty_start" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Model Year</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.model_year" class="form-control" id="model_year" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Model Detail</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.model_detail" class="form-control" id="model_detail" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Color</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.color" class="form-control" id="color" placeholder="" value="">
          </div>
        </div>

        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Production Month</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.production_month" class="form-control" id="production_month" placeholder="" value="">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Interior</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.vin.interior" class="form-control" id="interior" placeholder="" value="">
          </div>
        </div>

      </div>
      <div class="col-md-6">
          <div class="panel panel-default bootstrap-panel xsmall-panel" style="height:auto!important;">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
              <p ng-repeat="item in carData.vin.options">
                <span>{{item.code}} : {{item.value}}</span>
              </p>
            </div>
          </div>
      </div>
    </div>
    <h3 class="with-line">PCF Information</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">ID</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.vid" class="form-control" id="vid" placeholder="" value="">
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Longhood</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.longhood" class="form-control" id="longhood" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Widebody</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.widebody" class="form-control" id="widebody" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">PTS</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.pts" class="form-control" id="pts" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Longhood</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.longhood" class="form-control" id="longhood" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">PCCB</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.pccb" class="form-control" id="pccb" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Color</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.color" class="form-control" id="color" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Body Type</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.body_type" class="form-control" id="body_type" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Air cooled</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.air_cooled" class="form-control" id="air_cooled" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Gap To MSRP</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.gap_to_msrp" class="form-control" id="gap_to_msrp" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Listing Age</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.listing_age" class="form-control" id="listing_age" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">LWB Seats</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.lwb_seats" class="form-control" id="lwb_seats" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Auto transmission</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.auto_trans" class="form-control" id="auto_trans" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Option Code</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.option_code" class="form-control" id="option_code" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Option Description</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.option_description" class="form-control" id="option_description" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">0~60</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.placeholder" class="form-control" id="placeholder" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Produced USA</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.produced_usa" class="form-control" id="produced_usa" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Produced Globally</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.produced_globally" class="form-control" id="produced_globally" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Same Counts</label>

          <div class="col-sm-9">
            <input type="text" ng-model="carData.pcf.same_counts" class="form-control" id="same_counts" placeholder="" value="">
          </div>
        </div>
      </div>

    </div>
    <!--<button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>-->
  </div>
</div>
