<script>
    function onChangedYear(data){
        var scope = angular.element("#year_value").scope();
        scope.year_value = data.value;
    };
    function onChangedMileage(data){
        var scope = angular.element("#mileage_value").scope();
        scope.mileage_value = data.value;
    };
    function onChangedPrice(data){
        var scope = angular.element("#price_value").scope();
        scope.price_value = data.value;
    };
</script>
<uib-tabset active="$tabSetStatus.activeTab">
  <uib-tab heading="From the Listing">
    <div class="row">
      <div class="col-sm-2">
        <input ng-model="title" placeholder="Title" class="input-sm form-control search-input" type="text"/>
        <input id="year_value" type="hidden" ng-model="year_value" />
        <input id="mileage_value" type="hidden" ng-model="mileage_value" />
        <input id="price_value" type="hidden" ng-model="price_value" />
      </div>
      <div class="col-sm-2">
        <div class="slider-box">
          <h5>Year</h5>
          <ion-slider ng-model='year' type="single"
                      grid="true"
                      min="1955"
                      max="2019"
                      from="1955"
                      to = "year_to"
                      step="1"
                      prettify-separator="."
                      prettify="true"
                      onChange="onChangedYear(event.target)"
                      disable="false">
          </ion-slider>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="slider-box">
          <h5>Mileage</h5>
          <ion-slider type="single"
                      grid="true"
                      min="0"
                      max="19800"
                      from="500"
                      step="1000"
                      prettify-separator="."
                      prettify="true"
                      onChange="onChangedMileage(event.target)"
                      disable="false">
          </ion-slider>
        </div>
      </div>
      <div class="col-sm-2">
        <input  ng-model="model" placeholder="Model" class="input-sm form-control search-input" type="search"/>
      </div>
      <div class="col-sm-2">
        <div class="slider-box">
          <h5>Price</h5>
          <ion-slider type="single"
                      grid="true"
                      min="0"
                      max="10000000"
                      from="30000"
                      step="1000"
                      prettify-separator="."
                      prettify="true"
                      onChange="onChangedPrice(event.target)"
                      disable="false" onchange="">
          </ion-slider>
        </div>
      </div>
    </div>
    <div class="ng-cloak row" ng-controller="SelectpickerPanelCtrl as selectpickerVm">
      <div class="col-sm-2">
        <div class="form-group">
          <ui-select ng-model="selectpickerVm.groupedByCities.selected"
                     class="btn-group bootstrap-select form-control"
                     ng-disabled="false"
                     append-to-body="true"
                     search-enabled="true">
            <ui-select-match placeholder="City">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices
                repeat="groupedByCities in selectpickerVm.groupedByCitisItems | filter: $select.search"
                group-by="selectpickerVm.someGroupFn">
              <span ng-bind-html="groupedByCities.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <ui-select ng-model="selectpickerVm.groupedByStates.selected"
                     class="btn-group bootstrap-select form-control"
                     ng-disabled="false"
                     append-to-body="true"
                     search-enabled="true">
            <ui-select-match placeholder="States">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices
                repeat="groupedByStates in selectpickerVm.groupedByStatesItems | filter: $select.search"
                group-by="selectpickerVm.someGroupFn">
              <span ng-bind-html="groupedByStates.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="col-sm-2">
        <input  ng-model="description"  placeholder="Search Description" class="input-sm form-control search-input" type="search"/>
      </div>

      <div class="col-md-3">
        <div class="button-wrapper" ng-click="filter_car(model,title, selectpickerVm.groupedByCities.selected['name'], selectpickerVm.groupedByStates.selected['name'], price_value, mileage_value, year_value, description)"><button type="button" class="btn btn-primary btn-raised">Filter</button></div>
      </div>
    </div>


  </uib-tab>
  <uib-tab heading="From additional PCar Data">
  </uib-tab>
</uib-tabset>