<script>
    function onChangedYear(data){
        var scope = angular.element("#year_value").scope();
        console.log(scope);
        scope.year_value = (data.value).replace(';','-');
        scope.filter_car();
        //scope.filter_car(scope.model,scope.title, scope.city_selected, scope.state_selected, scope.price_value, scope.mileage_value, scope.year_value, scope.description);
    };
    function onChangedMileage(data){
        var scope = angular.element("#mileage_value").scope();
        scope.mileage_value = (data.value).replace(';','-');
        console.log(scope);
        scope.filter_car();
    };
    function onChangedPrice(data){
        var scope = angular.element("#price_value").scope();
        scope.price_value = (data.value).replace(';','-');
        scope.filter_car();
    };
</script>
<aside ng-if="!$isLogged" class="al-sidebar">

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input ng-model="title" ng-change="filter_car()" placeholder="Title" class="form-control" type="text"/>
            </div>
            <input id="year_value" type="hidden" ng-model="year_value" />
            <input id="mileage_value" type="hidden" ng-model="mileage_value"  />
            <input id="price_value" type="hidden" ng-model="price_value" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input  ng-model="model"  ng-change="filter_car()" placeholder="Model" class="form-control" type="search"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input  ng-model="description"  ng-change="filter_car()"  placeholder="Search Description" class="form-control" type="search"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="slider-box">
                <h5>Year</h5>
                <ion-slider ng-model='year' type="double"
                            grid="true"
                            min="1955"
                            max="2019"
                            from="1955"
                            to = "year_to"
                            step="1"
                            prettify-separator="-"
                            prettify="true"
                            onChange="onChangedYear(event.target)"
                            disable="false">
                </ion-slider>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="slider-box">
                <h5>Mileage</h5>
                <ion-slider type="double"
                            grid="true"
                            min="0"
                            max="198000"
                            from="500"
                            step="1000"
                            prettify-separator="."
                            prettify="true"
                            onChange="onChangedMileage(event.target)"
                            disable="false">
                </ion-slider>
            </div>
        </div></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="slider-box">
                <h5>Price</h5>
                <ion-slider type="double"
                            grid="true"
                            min="0"
                            max="100000"
                            from="10000"
                            step="1000"
                            prettify-separator="."
                            prettify="true"
                            onChange="onChangedPrice(event.target)"
                            disable="false" onchange="">
                </ion-slider>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="form-group">
        <ui-select ng-model="BaSidebarCtrl.selectedItem.selected"
                   class="btn-group bootstrap-select form-control"
                   ng-disabled="false"
                   ng-change="filter_car()"
                   append-to-body="true"
                   search-enabled="false">
          <ui-select-match placeholder="Select City">
            <span> {{$select.selected.label}}</span>
          </ui-select-match>
          <ui-select-choices repeat="city in cities">
            <span ng-bind-html="city.label"></span>
          </ui-select-choices>
        </ui-select>
      </div>


       <div class="form-group">
        <ui-select ng-model="BaSidebarCtrl.selectedItem.selected"
                   class="btn-group bootstrap-select form-control"
                   ng-disabled="false"
                   ng-change="filter_car()"
                   append-to-body="true"
                   search-enabled="false">
          <ui-select-match placeholder="Select State">
            <span> {{$select.selected.label}}</span>
          </ui-select-match>
          <ui-select-choices repeat="state in states">
            <span ng-bind-html="state.label"></span>
          </ui-select-choices>
        </ui-select>
      </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="longhood" ng-change="filter_car()">
          <span>Longhood</span>
        </label>
      </div>
    </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="widebody" ng-change="filter_car()">
          <span>Widebody</span>
        </label>
      </div>
    </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="pts" ng-change="filter_car()">
          <span>PTS</span>
        </label>
      </div>
    </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="pccb" ng-change="filter_car()">
          <span>PCCB</span>
        </label>
      </div>
    </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="aircooled" ng-change="filter_car()">
          <span>Air-cooled</span>
        </label>
      </div>
    </div>

    <div class="has-success">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="lwb" ng-change="filter_car()">
          <span>LWB Seats</span>
        </label>
      </div>
    </div>

  <div class="form-group">
    <ui-select ng-model="BaSidebarCtrl.selectedItem.selected"
               class="btn-group bootstrap-select form-control"
               ng-disabled="false"
               ng-change="filter_car()"
               append-to-body="true"
               search-enabled="false">
      <ui-select-match placeholder="Select Transmission">
        <span> {{$select.selected.label}}</span>
      </ui-select-match>
      <ui-select-choices repeat="transmission in vm.transmissions">
        <span ng-bind-html="transmission.label"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</aside>
