<div class="modal-content colums-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Columns (Choose up to 9)</span>
  </div>
  <div class="modal-body text-center">
    <h3>Listing</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.title">
              <span>(L) Title</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.mileage">
              <span>Mileage</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.price">
              <span>Price</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.location">
              <span>Location</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.vin">
              <span>VIN</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.make">
              <span>Make</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.model">
              <span>(L) Model</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.trim">
              <span>Trim</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.date">
              <span>Date</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.condition">
              <span>Condition</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.listing_year">
              <span>(L) Year</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.listing_exterior">
              <span>(L) Exterior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.listing_interior">
              <span>(L) Interior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.transmission">
              <span>Transmission</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.engine">
              <span>Engine</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.drivetrain">
              <span>Drivetrain</span>
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.msrp">
              <span>MSRP</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.bs_year">
              <span>(BS) Year</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.bs_model">
              <span>(BS) Model</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.bs_exterior">
              <span>(BS) Exterior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.bs_interior">
              <span>(BS) Interior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.production_month">
              <span>Production Month</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.warranty_start">
              <span>Warranty Start</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.model_number">
              <span>Model Number</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.price_msrp">
              <span>Price % of MSRP</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.pts">
              <span>PTS</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.lwb">
              <span>LWB Seats</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.longhood">
              <span>Longhood</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.widebody">
              <span>Widebody</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.pccb">
              <span>PCCB</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.aircooled">
              <span>Air-cooled</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.listing_age">
              <span>Listing Age</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.body_type">
              <span>Bodty Type</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.auto_trans">
              <span>Auto Trans Type</span>
            </label>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>
