<div class="modal-content colums-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Columns (Choose up to 9)</span>
  </div>
  <div class="modal-body text-center">

    <div class="row">
      <div class="col-md-4">
        <h3>Listing</h3>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('title')" type="checkbox" ng-model="colums.title">
              <span>(L) Title</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('mileage')"  type="checkbox" ng-model="colums.mileage">
              <span>Mileage</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('price')"  type="checkbox" ng-model="colums.price">
              <span>Price</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('city')"  type="checkbox" ng-model="colums.city">
              <span>City</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('state')"  type="checkbox" ng-model="colums.state">
              <span>State</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('vin')"  type="checkbox" ng-model="colums.vin">
              <span>VIN</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('model')"  type="checkbox" ng-model="colums.model">
              <span>Model</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('trim')"  type="checkbox" ng-model="colums.trim">
              <span>Trim</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('date')"  type="checkbox" ng-model="colums.date">
              <span>Date</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('condition')"  type="checkbox" ng-model="colums.condition">
              <span>Condition</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('listing_year')"  type="checkbox" ng-model="colums.listing_year">
              <span>(L) Year</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('listing_exterior')"  type="checkbox" ng-model="colums.listing_exterior">
              <span>(L) Exterior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('listing_interior')"  type="checkbox" ng-model="colums.listing_interior">
              <span>(L) Interior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('transmission')"  type="checkbox" ng-model="colums.transmission">
              <span>Transmission</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('engine')"  type="checkbox" ng-model="colums.engine">
              <span>Engine</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('drivetrain')"  type="checkbox" ng-model="colums.drivetrain">
              <span>Drivetrain</span>
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <h3>Build Sheet</h3>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('msrp')"  type="checkbox" ng-model="colums.msrp">
              <span>MSRP</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('bs_year')"  type="checkbox" ng-model="colums.bs_year">
              <span>(BS) Year</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('bs_model')"  type="checkbox" ng-model="colums.bs_model">
              <span>(BS) Model</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('bs_exterior')"  type="checkbox" ng-model="colums.bs_exterior">
              <span>(BS) Exterior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('bs_interior')"  type="checkbox" ng-model="colums.bs_interior">
              <span>(BS) Interior</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('production_month')"  type="checkbox" ng-model="colums.production_month">
              <span>Production Month</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('warranty_start')"  type="checkbox" ng-model="colums.warranty_start">
              <span>Warranty Start</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h3>PCF Data</h3>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('model_number')"  type="checkbox" ng-model="colums.model_number">
              <span>Model Number</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('price_msrp')"  type="checkbox" ng-model="colums.price_msrp">
              <span>% of MSRP</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('pts')"  type="checkbox" ng-model="colums.pts">
              <span>PTS</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('lwb')"  type="checkbox" ng-model="colums.lwb">
              <span>LWB Seats</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('longhood')"  type="checkbox" ng-model="colums.longhood">
              <span>Longhood</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('widebody')"  type="checkbox" ng-model="colums.widebody">
              <span>Widebody</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('pccb')"  type="checkbox" ng-model="colums.pccb">
              <span>PCCB</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('aircooled')"  type="checkbox" ng-model="colums.aircooled">
              <span>Air-Cooled</span>
            </label>
          </div>
        </div>

        <!--<div class="">-->
          <!--<div class="checkbox">-->
            <!--<label class="custom-checkbox">-->
              <!--<input ng-change="changeStatus('listing_age')"  type="checkbox" ng-model="colums.listing_age">-->
              <!--<span>Listing Age</span>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('body_type')"  type="checkbox" ng-model="colums.body_type">
              <span>Body Type</span>
            </label>
          </div>
        </div>

        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input ng-change="changeStatus('auto_trans')"  type="checkbox" ng-model="colums.auto_trans">
              <span>Auto Trans Type</span>
            </label>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" ng-click="reset()">Reset to default columns</a>
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>