<div class="modal-content colums-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Columns (Choose up to 9)</span>
  </div>
  <div class="modal-body text-center">
    <h3>Listing</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.title">
              <span>Title</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.mileage">
              <span>Mileage</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.price">
              <span>Price</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.location">
              <span>Location</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.vin">
              <span>Vin</span>
            </label>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.make">
              <span>Make</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.model">
              <span>Model</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.trim">
              <span>Trim</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.date">
              <span>Date</span>
            </label>
          </div>
        </div>
        <div class="">
          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" ng-model="colums.condition">
              <span>Condition</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>
