<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="$carData" st-safe-src="$carData1">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true">#</th>
      <th st-sort="title">PCar</th>
      <th st-sort="mileage">Mileage</th>
      <th st-sort="price">Price</th>
      <th st-sort="location">Location</th>
      <th st-sort="buildsheet">BuildSheet</th>

    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="item in $carData" ng-link="/basic">
      <td class="table-id">{{item.id}}</td>
      <td>{{item.listing_title}}</td>
      <td>{{item.mileage}}</td>
      <td>{{item.price}}</td>
      <td>{{item.city}} {{item.state}}</td>
      <td>{{item.vin_code}}</td>
      <td><a class="email-link" ng-href="/#/normal/detail/{{item.pcf.vid}}">Detail View</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="7" class="text-center">
        <!--<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>-->
        {{prev}}
        <a ng-if="$prev != null" href="#" ng-click="prevPage()">Previous</a>
        <a ng-if="$next != null" href="#" ng-click="nextPage()">Next</a>
      </td>
    </tr>
    </tfoot>
  </table>
</div>