<div class="modal-content colums-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span>Feedback</span>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-md-12">
        <textarea id="content1" autofocus ng-model="content" class="form-control" placeholder="Message"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="ctrl.ok()">SEND</button>
  </div>
</div>
