<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Information</span>
  </div>
  <div class="modal-body text-center">
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="title">
          <span>Title</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="mileage">
          <span>Mileage</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="price">
          <span>Price</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="location">
          <span>Location</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="vin">
          <span>Vin</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="make">
          <span>Make</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="model">
          <span>Model</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="trim">
          <span>Trim</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="date">
          <span>Date</span>
        </label>
      </div>
    </div>
    <div class="">
      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" ng-model="condition">
          <span>Condition</span>
        </label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>
